@mixin screenSize($size) {
    @if $size == small {
    @media (max-width: 600px) { @content; }
  } @else if $size == medium {
    @media (max-width: 900px) { @content; }
  } @else if $size == large {
    @media (max-width: 1100px) { @content; }
  } @else if $size == huge {
    @media (width > 1100px) { @content; }
  } 
}

@mixin unselectable(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

