@use "../abstracts/" as *;

.carousel{
    max-width: 1110px;
    width: 100%;
    height: 540px;
    position: relative;
    @include screenSize(medium){
        height: auto;
    }

    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 50px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        transition: all 0.5s ease;

        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
        &.onScroll{
            box-shadow: 0 0 20px hsla(240, 100%, 70%, 0.3) inset;
        }
        &:active{
            cursor: pointer;
        }
    }

    &__button-box,
    &__button-box-shadow{
        position: absolute;
        bottom: 0;
        border-radius: 1000px;
        right: 365px;
        transform: translate(0, 50%);
        width: 115px;
        height: 55px;
    }
    &__button-box{
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        background-color: white;
        transition: all 0.1s ease;
        @include screenSize(medium){
            top: 255px;
            right: 50%;
            width: 80px;
            height: 40px;
            transform: translate(50%, -50%);
            gap: 30px;
        }

        &:hover,
        &:focus-within{
            outline: 5px solid hsla(240, 100%, 70%, 0.3);
            outline-offset: 3px;
        }
    }
    &__button-box-shadow{
        z-index: -1;
        box-shadow: 20px -20px 150px 20px $dark-blue;
        background-color: transparent;
        transition: all 0.6s ease;
        @include screenSize(medium){
            top: 255px;
            right: 50%;
            width: 80px;
            height: 40px;
            transform: translate(50%, -50%);
            box-shadow: 0 -20px 80px 20px $dark-blue;
        }
    }

    // slide area
    &__slide{
        position: relative;
        flex: 0 0 100%;
        height: 100%;
        padding-top: 165px;
        scroll-snap-align: start;
        transition: all 0.5s ease;
        @include screenSize(medium){
            padding-top: 336px;
        }

        & *{
            pointer-events: none;
            @include unselectable
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 38px;
        width: 100%;
        max-width: 635px;
        @include screenSize(large){
            max-width: 500px;
        }
        @include screenSize(medium){
            max-width: 100%;
            align-items: center;
            gap: 20px;
        }

        p{
            font-size: 32px;
            font-weight: 300;
            line-height: 44px;

            @include screenSize(large){
                font-size: 24px;
                line-height: 30px;
            }
            @include screenSize(medium){
                font-size: 18px;
                line-height: 24px;
            }
        }
        .info{
            display: flex;
            gap: 10px;
            font-weight: 700;
            font-size: 20px;

            @include screenSize(large){
                font-size: 17px;
                line-height: 22px;
            }
            @include screenSize(medium){
                flex-direction: column;
                gap: 0;
                align-items: center;
                font-size: 15px;
                line-height: 20px;
            }

            .status{
                color: $grayish-blue
            }
        }
    }

    &__right{
        position: absolute;
        right: 0;
        top: 0;
        width: 540px;
        height: 540px;
        z-index: -1;
        @include screenSize(medium){
            width: 255px;
            height: 255px;
            right: 50%;
            transform: translate(50%, 0);
        }
    }
}